{% extends "base.html.twig" %}

{% block title %}
	Création d'un auteur |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Création d'un auteur</h1>
		{% include '_form.html.twig' with {buttonLabel: 'Créer'} %}
		<a href="{{ path('app_authors') }}" class="btn btn-primary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
