{% extends 'base.html.twig' %}

{% block title %}
	Modification de l'auteur
	{{ author.name }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">Modification de l'auteur
			{{ author.name }}</h1>
		{% include 'authors/_form.html.twig' with {buttonLabel: 'Modifier'} %}
		<a href="{{ path('app_authors') }}" class="btn btn-primary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
