{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste des Livres</h1>
        <a href="{{ path('app_books_create') }}" class="btn btn-primary">Créer un Nouveau Livre</a>
    </div>

    <div class="row">
    {{ dump(data)}}
    </div>
</div>
{% endblock %}
